<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="kpr.launchType">
<stringAttribute key="kinoma.debug.model.ATTR_KINOMA_APPLICATION" value="alfridgedevice.app"/>
<booleanAttribute key="kinoma.debug.model.ATTR_KINOMA_LAUNCH_APPLICATION" value="true"/>
<stringAttribute key="kinoma.debug.model.ATTR_KINOMA_PROJECT" value="alfridgeDevice"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/alfridgeDevice/application.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/alfridgeDevice/application.xml}"/>
</launchConfiguration>
